# macOS
.DS_Store

# JetBrains
.idea
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml

# Gradle
.gradle
local.properties
/local.properties
app/build
!app/lint.xml

# Android
kls_database.db

# Other
*.iml
/build
/captures
.externalNativeBuild
.cxx
